		@import url("prezentacja.css");
		body{
			--color1:blue;
			--color2:grey;
			--color3:#d6276d;
			--color4:green; 
			--color5:#FFFFFF;
			--color6:#c5c9c6;
			--color7:red;
			--color8:yellow;
			--color9:#9c27d6;
		}
		
		