		@import url("prezentacja.css");
		body{
			--color3:blue;
			--color4:grey;
			--color1:#d6276d;
			--color2:green; 
			--color7:#FFFFFF;
			--color8:#c5c9c6;
			--color5:red;
			--color6:yellow;
			--color9:#9c27d6;
		}
		
	